[submodule "AgisCore"]
	path = AgisCore
	url = https://github.com/ntorm1/AgisCore
[submodule "AgisCoreTest"]
	path = AgisCoreTest
	url = https://github.com/ntorm1/AgisCoreTest.git
[submodule "Qt-Advanced-Docking-System"]
	path = Qt-Advanced-Docking-System
	url = https://github.com/ntorm1/Qt-Advanced-Docking-System.git
[submodule "nodeeditor"]
	path = nodeeditor
	url = https://github.com/paceholder/nodeeditor.git
[submodule "external/QScintilla"]
	path = external/QScintilla
	url = https://github.com/ntorm1/QScintilla.git
